  <footer class="footer-content">

      <div class="footer-right">

        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>

      </div>

      <div class="footer-left">

        <p class="footer-links">
          <a href="index.html">Home</a>
          ·
          <a href="#">Blog</a>
          ·
          <a href="#">Store</a>
          ·
          <a href="#">About</a>
          ·
          <a href="#">Faq</a>
          ·
          <a href="contact.html">Contact</a>
        </p>

        <p>Furniswap &copy; 2018</p>
      </div>

    </footer>