
 <nav class="user-nav">
     <ul>
     <% if(isAuthenticated === "1") {%>
        <li><a href="/logout">Sign Out</a></li>
<% } else {%>
<li><a href="/login">Sign In</a></li>
<% } %>
        <li><a href="/myItems">My Items</a></li>
        <li><a href="/mySwaps">My Swaps</a></li>
        <li><a href="">Cart</a></li>
      </ul>
    </nav>