<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Furniswap</title>
  <link rel="stylesheet" href="/assets/styles.css">
  <link rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
  <% include partials/header.ejs %>
  <% include partials/user-navigation.ejs %>
  <div id="container">
    <% include partials/site-navigation.ejs %>
    <main id="main">
      <div id="divBreadcrumb">
        <ul class="breadcrumb">
          <li class="li-aboutUs">About Us</li>
        </ul>
      </div>
      <section id="homeSection">
        <h3>Our Vision and Mission</h3>
        <p>At Furniswap, we believe that strong communities and good business are inextricably linked. We established our first charitable giving program in 2004 and have expanded our efforts every year since.<br><br>
          We partner with organizations that play a meaningful role in creating safe and comfortable living spaces because we believe that a secure home is not only a basic human need but also the foundation for well-being.<br><br>
          Our mission is to make home a reality for more of the many people in need of safe shelter and basic household items that help make a home..</p>

          <h3> Our Promise</h3>
          <p>Furniswap offers a zillion things home.We helps people find the perfect product at the right price. Our extensive selection and superior customer service coupled with the convenience of online swapping, make it easier than ever before to find exactly what you want for your home at a price you can afford.</p>
          <br><br>
        </section>
      </main>
      <br>
      <% include partials/footer.ejs %>
    </div>
  </body>
  </html>
