
<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Furniswap</title>
  <link rel="stylesheet" href="/assets/styles.css">
  <link rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body> 
  <% include partials/header.ejs %>
  <% include partials/user-navigation.ejs %>
  <div id="container">
    <% include partials/site-navigation.ejs %>
    <main id="main">
      <div id="divBreadcrumb">
        <ul class="breadcrumb">
          <li class="li-home">Home</li>             
        </ul>
      </div>
      <section id="homeSection">
        <h3>Welcome to Furniswap!</h3>    
        <p>We all get bored of our furniture.Isn't it?</p>
        <br>
        <p>We care about finding good homes for things and keeping them out of landfills. It’s not just a transaction. We celebrate creative ways to reuse things around your home. It’s intrinsically satisfying to reuse things and be part of a community of others who reuse, working collectively toward a better planet and cleaner world.</p>
        <br><br>
      </section>         
    </main>  
    <br>
    <% include partials/footer.ejs %> 
  </div>
</body>
</html>
