<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Furniswap</title>
  <link rel="stylesheet" href="/assets/styles.css">
  <link rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css">
</head>
<body>
  <% include partials/header.ejs %>

  <% include partials/user-navigation.ejs %>
  <div id="container">
    <% include partials/site-navigation.ejs %>
    <main id="main">
     <div id="divBreadcrumb">
      <ul class="breadcrumb">
        <li class="li-home"><a href="/home">Home</a></li>
        <li>My Items</li>
      </ul>
    </div>
    
    <section id="myItemsSection">
      <br>
      
      <% if(!(currentProfile)){ %>      
      <h3 class="h3-noItemToDisplay">Login to start swapping</h3>
      <% } %>  

      <br>
      <h3>There are no Items to Display.</h3>
      <h3>SORRY!!!!</h3>
      <br><br> <br><br> <br><br> <br><br>
    </section>
  </main>
  <br>
  <% include partials/footer.ejs %>
</div>

</body>
</html>