header,main,aside,nav,section,footer{
  display: block;
}

html, body, h1, h6, li, a, p, 
article, aside, footer, header, main, nav, section{
 margin: 0;
 padding:0;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  
}
a
{
  text-decoration: none;
  color: #000;
}

/*************** HEADER *********************/
header
{
  height: 5.7em;
  background-color: #b8d3c1;
  text-align: center;
  padding: 0px;
  font-size: 25px;
  border: solid 1px black;
  font-weight: bold;
}

h1{
  font-family: 'Lora', serif;
  color: #22264b;
  font-size: 1.9em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 30px;
}

#imgLogo {
  background: url('images/Logo.png') no-repeat;
  background-size: contain;
  float: left;  
  width: 110px;
  height: 110px;
  margin: 15px;
}
#loginName
{
  float:right;
  margin: 10px;
  margin-bottom: 60px;
  font-size: 14px;
  width: 150px;
  text-align: right;
}


/************* USER NAVIGATION ******************/
.user-nav{
 background-color: #e6cf8b;
 border: solid 1px #000;
 margin-top: 1px;
 text-align: center;
}

.user-nav li{
  display: inline;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 18px;
  font-variant: small-caps;
  font-weight: bold;
  color: #000;
  padding: 15px;
  cursor: pointer;
}
.user-nav a:hover{
  color:#fff;
}

/**************** MAIN CONTENT ***********************/
#container{
  height: 100%;
  margin-top: 1px;
  margin-bottom: 1px;
  position: relative;
}
#main
{
  width: 75%;
  background-color: #d6d0cd;
  float: right;
  border: solid 1px #000;
  border-bottom: none;
  background-image: url(images/main-background.jpg);
  background-size: cover;
}


/************************** BREADCRUMB ******************************/
#divBreadcrumb li{
  display: inline;
  font-size: 14px;
  color: #000;
  cursor: pointer;
}
#divBreadcrumb li a{
  color: #000;
  cursor: pointer;
}
#divBreadcrumb li #item-anchor{
  color: #376e6f;
}
#divBreadcrumb li a:hover{
  color: #4286f4;
}
#divBreadcrumb li+li:before {
  color: black;
  content: ">\00a0";
}
#divBreadcrumb li:last-child:hover {
  cursor:default;
}


/********************* SITE NAVIGATION (ASIDE) ********************/
aside{

  width: 25%;
  background-color:#b8d3c1;
  border:solid 1px #000;
  position: absolute;
  height: 98%;

}
.site-nav{
  height: 100%;
}

.site-nav ul
{
  padding: 0px;
}
.site-nav li{
  display: block;
}

.site-nav a:hover{
 box-shadow: 4px 4px grey;
}
.site-nav a{
  font-size: 16px;
  font-variant: small-caps;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  line-height: 2.0em;
  display: block;
  background-color: #89b297;
  margin: 12px 15px;
  text-align: center;
}


/************* HOME PAGE *******************/

#homeSection p{
  color: #000;
  /* padding-left: 20px; */
  line-height: 2em;
  /* margin-right: 80px; */
  width: 70%;
  margin: auto;
  padding-top: 25px;
}
#homeSection h3{
 width: 70%;
 margin: auto;
 padding-top: 25px;
}

/************* LOGIN PAGE *******************/

#LoginSection
{
  height:300px;
}

.div-SignIn
{
  width: 320px;
  margin: auto;
  background-color: #e8edf3;
  border: solid #000 1px;
  padding: 15px;
  margin-bottom: 50px;
}

.div-SignIn input
{

  padding-left: 10px;
  line-height: 2.0em;
  float: right;
  border-color: rgb(169, 169, 169);
  border-width: 0.5px;
  -webkit-appearance: none;
}

input.btn-signIn {
  background-color: #22264b;
  border: none;
  color: #fff;
  padding: 8px 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 7px;
  width: auto;
  float: none;
  line-height: 1.0em;
  width: 65px;
}

.btn-signIn:hover {
  background-color: #484e84;
}


.div-SignIn span{
 font-weight: bold;
 font-size: 14px;
}
.div-SignIn span a
{
  text-decoration: underline;
}

.div-SignIn div
{
  padding: 20px;
}
.div-BtnSignin
{
 text-align: center;
}

/************* REGISTER PAGE *******************/

.div-Register {
  width: 580px;
  margin: auto;
  background-color: #e8edf3;
  border: solid #000 1px;
  padding: 20px;
  margin-bottom: 50px;
}

.div-Register input {
  padding-left: 10px;
  line-height: 2.0em;
  /* float: right;*/
  border-color: rgb(169, 169, 169);
  border-width: 0.5px;
  margin: 10px;
  -webkit-appearance: none;
}
.div-Register span{
 font-weight: bold;
 font-size: 14px;
}
input.btn-register {
  background-color: #22264b;
  border: none;
  color: #fff;
  padding: 8px 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 7px;
  width: auto;
  float: none;
  line-height: 1.0em;
  width: 85px;
  font-family: monospace;
}

#RegisterSection table {
  border-collapse: collapse;
  /*  width: 90%;
  margin: 40px;*/
  background-color: #e8edf3;
}

#RegisterSection td{
  font-size: 13px;
  font-family: verdana;
}

#RegisterSection .td-span
{
 text-align: right;
 padding-right: 10px;
}

.errMsg
{
  color: red;
  margin: 0.5em;
}

.redStar
{
  color: red;
}
/************* CATEGORIES PAGE *******************/
#CategoriesSection{
  width: 80%;
  margin: auto;
  padding-top: 1em;
}
#CategoriesSection div{
  padding: 10px;
  height: 150px;
}
#CategoriesSection h4{

  line-height: 2.8em;
  font-variant: small-caps;
  font-family: 'Lora', serif;
  color: #22264b;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: bold; 
  padding-left: 30px;
  display: inline;
  margin-top: 30px;

}

#CategoriesSection img{
  height: 70px;
  width: 70px;
  background-size: contain;
  float: left;
  padding-left: 20px;
}
#CategoriesSection img:hover
{
  height: 90px;
  width: 90px;
}

.div-categories ul{
  float: left;
  margin: 0px;
  margin-left: 35px;
}  

.div-categories li{
  font-size: 14px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  line-height: 1.5em; 
}

.div-categories li:hover
{
  text-decoration: underline;
}


/************* ITEM DETAIL PAGE *******************/

#itemDetailsSection .div-detail
{
  padding: 40px;
  border: solid #000 2px;
  margin: 30px;
  background-color: #e8edf3;
}

#itemDetailsSection .div-noItem
{
  padding: 40px;
  border: solid #000 2px;
  margin: 30px;
  background-color: #e8edf3;
  height: 200px;
  vertical-align: middle;
}

#itemDetailsSection .div-img
{

 width: 200px;
 margin: auto;
 display: block;
 float: left;
 /* vertical-align: middle; */
 /* align-items: center; */
 padding: 30px 0px;
 border: solid 1px;
 background-color: #f7eac3;
}
#itemDetailsSection .div-img img{
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
#itemDetailsSection h3{
  padding-left: 220px;
  
}

.btn {
  background-color: #22264b;
  border: none;
  color: #fff;
  padding: 8px 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 7px;
  margin-left: 25px;
  display: inline-block;
  text-align: center;
}


.btn a
{
  color: #fff;
}
.btn:hover {
  background-color: #484e84;
}

.div-detail p
{
  margin: 20px;
  text-align: justify;
  padding-top: 20px;
  font: normal 16px sans-serif;
  line-height: 2em;
  display: inline-block;
}

.div-detail h4
{
  color: red;
  margin: 0px 20px;
  /*margin-top: 0px;*/
  margin-bottom: 40px;
}

.div-swappedLogo #imgLogo
{
  width: 40px;
  height:40px;
  margin-top: 0px;
  margin-right: -5px;
}

.div-swappedLogo h4
{
  /*color: black;*/
  margin: 0px 20px;
  display: inline-block;
  margin-top: 10px;
}
.btn-offer
{
  display: inline;
}

#rateItem
{
  visibility: hidden;
}
div #stars{
  float: left;
  margin-left: 20px;
}
.star{
 font-weight: 900;
 color: #6b72a8;
 font-size: 2.0em;
}
.star::before{
  content: '\2606';    /* star outline */
  cursor: pointer;
}
.star.rated::before{
  /* the style for a selected star */
  content: '\2605';  /* filled star */
}

#btnSubmitRating{
  display: inline;
  margin-left: 20px;
}
/************************** SWAP PAGE **********************/

#swapSection .div-detail
{
  padding: 40px;
  border: solid #000 2px;
  margin: 30px;
  background-color: #e8edf3;
}

#swapSection .div-noItem
{
  padding: 40px;
  border: solid #000 2px;
  margin: 30px;
  background-color: #e8edf3;
  height: 200px;
  vertical-align: middle;
}

#swapSection .div-img
{

 width: 200px;
 margin-right: 30px;
 display: block;
 float: left;
 /* vertical-align: middle; */
 /* align-items: center; */
 padding: 30px 0px;
 border: solid 1px;
 background-color: #f7eac3;
}
#swapSection .div-img img{
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
#swapSection h3{
  padding-left: 220px;
  
}
#swapSection table {
  border-collapse: collapse;
  width: 90%;
  margin: 40px;
  background-color: #e8edf3;
  border:1px solid #99948e;
}

#swapSection th,#swapSection td {
  padding: 15px;
  text-align: center;
  border:1px solid #99948e;
}
#swapSection td{
  font-size: 13px;
  font-family: verdana;
}

#div-swap a
{
  font-weight: bold;
}

.btn-confirmSwap{
  background-color: #22264b;
  border: none;
  color: #fff;
  padding: 8px 10px;
  font-size: 15px;
  cursor: pointer;
  margin: 7px;
  width: auto;
}
.btn-confirmSwap a
{
  color: #fff;
}
.btn-confirmSwap:hover {
  background-color: #484e84;
}

/******************* MY ITEMS PAGE *************************/

#myItemsSection h3
{
  /*text-align: left; */
  padding-left: 40px;
  width: 100%;
}

#myItemsSection h4
{
  color:red;
  margin-left: 30px;
}

#myItemsSection .btn{
  margin:auto;
}

#myItemsSection table,#myItemsSection td, #myItemsSection th {    
  border:1px solid #99948e;
}

#myItemsSection table {
  border-collapse: collapse;
  width: 90%;
  margin: 40px;
  background-color: #e8edf3;
}

#myItemsSection th,#myItemsSection td {
  padding: 15px;
  text-align: center;
}
#myItemsSection td{
  font-size: 13px;
  font-family: verdana;
}

.a-title
{
  color: blue;
  text-decoration: underline;
}
.checked {
  color: #22264b ;
}

.unchecked
{
  color:#6b72a8;
}
.span-swap
{
  border: solid 2px;
  padding: 5px;
  background-color: #22264b;
  color: #fff;
  border-radius: 10px;
}
.align-center
{
  text-align: center;
}
.p-legend
{
  margin: 10px;
  font-weight: bold;
  font-size: 12px;
}

.btn-newItem
{
  margin-left: 40px !important;
}
/************************ MY SWAPS PAGE********************/
.btn-mySwaps
{
  margin:5px;
  width: auto;
}
#mySwapSection h3
{
  /*text-align: left; */
  padding-left: 40px;
  width: 100%;
}
#mySwapSection table,#mySwapSection td {    
  border:1px solid #99948e;
}

#mySwapSection table {
  border-collapse: collapse;
  width: 90%;
  margin: 40px;
  background-color: #e8edf3;
}

#mySwapSection th,#mySwapSection td {
  padding: 15px;
  text-align: center;
}
#mySwapSection td{
  font-size: 13px;
  font-family: verdana;
}

#mySwapSection th,#mySwapSection tr:last-child{
  border-bottom: solid;
}
#mySwapSection td,th{
  border: none;
}
#swapSection p{
  display: block;
}

.h3-noItemToDisplay
{
  color: red;
  margin-left:30px;
}

/************************CONTACT US PAGE ****************/

h2
{
  text-align: center;
  margin-top: 30px;
}
.div-contactUs
{
  width: 400px;
  margin: auto;
  background-color: #e8edf3;
  border: solid #000 1px;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 50px;
}

.div-contactUs input,textarea
{
  margin-left: 20px;
  padding-left: 10px;
  line-height: 2.0em;
  float: right;
  border-color: rgb(169, 169, 169);
  border-width: 0.5px;
  -webkit-appearance: none;
}
.div-contactUs select
{
  height: 30px;
  margin-left: 20px;
  width: 173px;
  padding-left: 10px;
  float: right;
}
.div-subject select:after {
  font-family: FontAwesome;
  content: '\f107';
  font-size: 28px;
  position: absolute;
  top: 12px;
  right: 20px;
  color: #434B67;
  pointer-events: none;
}
.span-sayhello,.div-yourName,.div-yourEmail,.div-subject,.div-phone,.div-mssg
{

  font-weight: bold;
  font-size: 14px;
  padding: 20px;
}
.span-sayhello{
 font-size: 20px;
}
.div-subject div
{
  display: inline;
}
.div-submit
{
  text-align: center;
  clear: both;
  margin-top: 50px;
}

/********************** FOOTER ***************************/
footer{
  clear: both;
  background-color: #e6cf8b;
  color: #000;
  padding: 5px 20px;
  border: solid 1px;
  /* border-top: none; */
  position: relative;
}

.footer-content{
 box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
 box-sizing: border-box;
 width: 100%;
 text-align: left;
 font: normal 16px sans-serif;
 padding: 10px 30px;
}

.footer-content .footer-left p{
  font-size: 14px;
  margin: 0;
}

.footer-content p.footer-links{
  font-size:14px;
  font-weight: bold;
  margin: 0 0 10px;
  padding: 0;
}

.footer-content p.footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-content .footer-right{
  float: right;
  margin-top: 6px;
  max-width: 180px;
}

.footer-content .footer-right a{
  display: inline-block;
  width: 35px;
  height: 35px;
  background-color:  #33383b;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-left: 3px;
}